<div class="row">
	<div class="twelve columns">
		<br/>
		<div class="panel radius seven columns">
			<p>In the Asian, African and Latin American countries, well over 500 million people are living in what the World Bank has called "absolute poverty" Every year 15 million children die of hunger. For the price of one missile, a school full of hungry children could eat lunch every day for 5 years. Throughout the 1990's more than 100 million children will die from illness and starvation. Those 100 million deaths could be prevented for the price of ten Stealth bombers, or what the world spends on its military in two days! The World Health Organization estimates that one-third of the world is well-fed, one-third is under-fed one-third is starving- Since you've entered this site at least 200 people have died of starvation. Over 4 million will die this year. One in twelve people worldwide is malnourished, including 160 million children under the age of 5. United Nations Food and Agriculture. The Indian subcontinent has nearly half the world's hungry people. Africa and the rest of Asia together have approximately 40%, and the remaining hungry people are found in Latin America and other parts of the world.</p>
		</div>
		<div class="panel radius four columns">
			<h1><u>for more info...</u></h1>
			<p>Anup Shah, <a href="http://www.globalissues.org/issue/6/world-hunger-and-poverty">World Hunger and Poverty</a>, <cite>Global Issues</cite>, Updated: August 22, 2010</p>
			<a href="http://www.worldhunger.org/articles/Learn/world%20hunger%20facts%202002.htm"><img src="http://www.worldhunger.org/images/logos/logoside.gif"></a>
			<a href="http://www.universitiesfightingworldhunger.org/"><img width="130" src="http://www.universitiesfightingworldhunger.org/wp-content/uploads/2012/02/UFWH_logo_short-300x179.jpg"></a>
		</div>
	</div>
	<div class="panel radius twelve columns" style="margin-top:2em">
	<iframe width="100%" height="350" src="https://www.youtube-nocookie.com/embed/bgqZ7X6DEIw?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
<div class="twelve columns">
		<br/>
		<div class="panel radius ten columns centered">
			<h1><u >Make a donation</u></h1>
			<div class="four columns">
			<img src="http://www.kidsagainsthunger.org/images/kah_haiti_logo.jpg">
			<a class="button" href="http://www.kidsagainsthunger.org/online_donation.shtml">Donate</a></div>
			<div class="four columns">
			<img src="http://donate.worldvision.org/OA_MEDIA/xxwvus/istore/livesaving-foods-201008-lg.jpg">
			<a class="button" href="http://donate.worldvision.org/OA_HTML/xxwv2ibeCCtpSctDspRte.jsp?section=10366">Donate</a></div>
			<div class="four columns">
			<img src="http://worldhungerrelief.org/wp-content/uploads/2012/05/cropped-Banner1.jpg">
			<a class="button" href="http://worldhungerrelief.org/how-you-can-help-2/donate/">Donate</a></div>
			<hr/>
		</div>
	</div>
</div>
